html, body{
  margin: 0;
  padding: 0;
}

#accountContainer{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  width: 90%;
  margin: 30px auto;
}

#accountDiv{
  width: 75%;
  height: 60%;
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
#accountDiv p{
  margin: 0px 5px;
  font-size: 20px;
}
#accountDiv p:first-of-type{
  margin: 0px auto 25px auto;
  color: gray;
  font-size: 24px;
}
.addAccountDiv h1{
  margin: 20px 10px;
}
#accountContainer img{
  width: 20%;
  margin: auto;
  padding: 5px;
}

.addAccountDiv label{
  margin: 0px 10px;
  font-size: 24px;
}
.addAccountDiv input{
  padding: 5px;
  margin: 10px;
  border: 1px solid gray;
  width: 50%;
}
.addAccountDiv button{
  margin: 0px 10px;
  padding: 15px;
  font-size: 24px;
  color: white;
  border-radius: 10px;
  border: none;
}
.closeButton{
  background-color: red;
}
.saveButton{
  background-color: green;
}

.container{
  display: grid;
  grid-template-areas:
  "sidebar header header"
  "sidebar main main"
  "footer footer footer";
  grid-template-columns: 1fr 4fr 4fr;
  grid-template-rows: 0.2fr 2fr 0.2fr;
}

.sidebar{
  grid-area: sidebar;
  background-color: #d3d3d3;
  border-right: 1px solid #ccc;
  display: flex;
  align-items: center;
  flex-direction: column;
}
#new_btn{
  padding: 10px;
  color: white;
  background-color: rgb(39, 39, 39);
  font-size: 24px;
  margin-top: 20px;
  border: 1px solid gray;
  border-radius: 10px;
}
.header{
  grid-area: header;
  background-color: #1e90ff;
  border-bottom: 1px solid #ccc;
  display: flex;
  align-items: center;
  padding: 10px;
}
.search_box{
  padding: 5px;
  border: solid 1px gray;
  border-radius: 5px;
  margin-left: 20px;
}
.main{
  grid-area: main;
}
.footer{
  grid-area: footer;
  background-color: orangered;
  border: 1px solid;
}

.addAccountDiv{
  position: fixed;
  top: 50%;
  left: 50%;
  width: 35em;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  display: flex;
  flex-direction: column;
}
.infoDiv{
  position: fixed;
  top: 50%;
  left: 50%;
  width: 35em;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
}